.app {
    --_app-padding: 1.6rem;
  
    position: relative;
  
    width: 100%;
    min-height: 100vh;
  
    padding: var(--_app-padding);
  
    display: flex;
    flex-direction: column;
  
    justify-content: center;
    align-items: center;
  
    transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  }