:root {
    font-size: 62.25%;
  
    --color-dark-cyan: hsl(185, 75%, 39%);
    --color-theme: #19a2ae;
    --color-dark-cyan-selection: hsla(185, 77%, 14%, 0.2);
    --color-very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --color-dark-grayish-blue: hsl(227, 10%, 46%);
    --color-dark-gray: hsl(0, 0%, 59%);
    --color-gray-rule: #e9e9e9;
  
    --color-white: #ffffff;
  
    --z-index-overlay: -1;
  
    --w-card: 37.25rem; /* 375px */
    --h-card-header: 128px;
  
    --p-biography-top: 3rem;
    --p-biography-sides: 2rem;
  
    --p-statistics-top: 2rem;
    --p-statistics-sides: 4rem;
  }
  
  @media (max-width: 1024px) {
    :root {
      font-size: 56.25%;
    }
  }
  
  @media (max-width: 720px) {
    :root {
      font-size: 50%;
    }
  }
  
  *::selection {
    background-color: var(--color-dark-cyan-selection);
    color: var(--color-very-dark-desaturated-blue);
  }
  
  *::-moz-selection {
    background-color: var(--color-dark-cyan-selection);
    color: var(--color-very-dark-desaturated-blue);
  }
  
  * {
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  
    font-size: 1.6rem; /* 16px */
    font-family: 'Kumbh Sans', sans-serif;
  
    border: none;
    outline: none;
  }
  
  img {
    overflow: hidden;
  
    display: block;
  
    object-fit: cover;
    -o-object-fit: cover;
    /* object-position: center;
    -o-object-position: center; */
  
    user-select: none;
    pointer-events: none;
  
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    /* -moz-window-dragging: no-drag; */
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    background-color: var(--color-dark-cyan);
  }
  
  .overlay {
    --_overlay-pattern-top: url('bg-pattern-top.svg');
    --_overlay-pattern-bottom: url('bg-pattern-bottom.svg');
  
    --_overlay-w: 70%;
    --_overlay-h: 50%;
  
    --_overlay-transform-top: -25%;
    --_overlay-transform-bottom: 25%;
  
    --_overlay-opacity: 1;
  
    /* overflow: hidden;  */
    user-select: none;
    pointer-events: none;
  
    z-index: var(--z-index-overlay);
    position: fixed;
    top: 0;
    left: 0;
  
    width: 100%;
    min-height: 100vh;
  
    background: transparent;
    transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .overlay[hidden],
  .overlay.hidden {
    display: none;
  }
  
  .overlay::after,
  .overlay::before {
    pointer-events: none;
    user-select: none;
  
    transition: 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: FadeIn 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  
    opacity: var(--_overlay-opacity);
  }
  
  .overlay::before {
    z-index: var(--z-index-overlay);
    position: absolute;
    top: 0;
    left: 0;
  
    content: '';
  
    width: var(--_overlay-w);
    height: var(--_overlay-h);
  
    transform: translateX(var(--_overlay-transform-top));
  
    background-image: var(--_overlay-pattern-top);
    background-size: cover;
  
    background-position: bottom right;
    background-repeat: no-repeat;
  }
  
  .overlay::after {
    z-index: var(--z-index-overlay);
    position: absolute;
    right: 0;
    bottom: 0;
  
    content: '';
  
    width: var(--_overlay-w);
    height: var(--_overlay-h);
  
    transform: translateX(var(--_overlay-transform-bottom));
  
    background-image: var(--_overlay-pattern-bottom);
    background-size: cover;
  
    background-position: top right;
    background-repeat: no-repeat;
  }
  
  @media (max-width: 980px) {
    .overlay {
      /* 
        --_overlay-transform-top: -50%;
        --_overlay-transform-bottom: 50%; 
      */
      --_overlay-w: 100%;
      --_overlay-h: 50%;
      --_overlay-opacity: 0.6;
    }
  }
  
  @media (max-width: 720px) {
    .overlay::before {
      transform: translate(-50%, -50%);
    }
  
    .overlay::after {
      transform: translate(50%, 50%);
    }
  }
  
  @media (max-width: 360px) {
    .overlay::before {
      background-position: center right;
    }
  
    .overlay::after {
      background-position: center left;
    }
  }
  